@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

a {
    background-color: transparent;
    text-decoration: none;
}

    a:active, a:hover {
        outline: 0;
    }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0px;
    padding: 0px;
}


/***********************  TOP Bar ********************/
.sidebar {
    width: 220px;
    background-color: #000;
    transition: all 0.5s ease-in-out;
}

.bg-defoult {
    background-color: #222;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar li a, .sidebar li a.collapsed.active {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-decoration: none
}

    .sidebar li a.active {
        background-color: #000;
        border-left: 5px solid #dedede;
        transition: all 0.5s ease-in-out
    }

    .sidebar li a:hover {
        background-color: #000 !important;
    }

    .sidebar li a i {
        padding-right: 5px;
    }

.sidebar ul li .sub-menu li a {
    position: relative
}

    .sidebar ul li .sub-menu li a:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 0px;
        padding-right: 10px;
        vertical-align: middle;
    }

    .sidebar ul li .sub-menu li a:hover:after {
        content: "";
        position: absolute;
        left: -5px;
        top: 0;
        width: 5px;
        background-color: #111;
        height: 100%;
    }

    .sidebar ul li .sub-menu li a:hover {
        background-color: #222;
        padding-left: 20px;
        transition: all 0.5s ease-in-out
    }

.sub-menu {
    border-left: 5px solid #dedede;
}

.sidebar li a .nav-label, .sidebar li a .nav-label + span {
    transition: all 0.5s ease-in-out
}


.sidebar.fliph li a .nav-label, .sidebar.fliph li a .nav-label + span {
    display: none;
    transition: all 0.5s ease-in-out
}

.sidebar.fliph {
    width: 42px;
    transition: all 0.5s ease-in-out;
}

    .sidebar.fliph li {
        position: relative
    }

    .sidebar.fliph .sub-menu {
        position: absolute;
        left: 39px;
        top: 0;
        background-color: #222;
        width: 150px;
        z-index: 100;
    }
