
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-color: #575757;
    color: aliceblue;
}
.custom-menu{
    background-color:lightskyblue;
    width:auto;
    height:36px;
}
.brand {
    vertical-align: middle;
    text-shadow: none;
    line-height: 40px;
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
}

