<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/498/2822127498_ea86671a-e37b-4ab8-b70d-c29fd0be3e12.png?cb=1585625330" width="200" />
        </div>
        <div class="menu navigation-bar-content">
            <ul>
                <li>@Html.ActionLink("Courses","Index","Course",null)</li>
                <li>@Html.ActionLink("Students","Index","Student")</li>
                <li>@Html.ActionLink("Trainers","Index","Trainer")</li>
                <li>@Html.ActionLink("Assignments","Index","Assignment")</li>
            </ul>
        </div>
    </nav>
</header>
